# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment variables
.env
.env*.local

# TypeScript
*.tsbuildinfo

# OS
.DS_Store

# Native / certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Misc
*.orig.*